@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #191919;
    width: 100vw;
}
.main-box {
    height: 100vh;
    width: 100vw;
    background-image: url(imagens/background.png);
    display: block;
}

li {
    display: inline-block;
    
}



